<div 
  class="file-drop-area text-center p-5" 
  (dragover)="onDragOver($event)" 
  (dragleave)="onDragLeave($event)" 
  (drop)="onDrop($event)">
  <p *ngIf="!files.length">Drag & drop files here or click to select files</p>
  <p *ngIf="files.length">Files ready to upload: </p>
  <ul>
    <li *ngFor="let file of files">{{ file.name }}</li>
  </ul>
  <input type="file" (change)="onFileSelect($event)" multiple hidden #fileInput />
  <button (click)="fileInput.click()">Select Files</button>
</div>
<div class="d-flex justify-content-center mt-4">
  <div class="swipe-button text-center" (mousedown)="startSwipe($event)" (mouseup)="endSwipe($event)" (mouseleave)="endSwipe($event)">
    Swipe to Upload
  </div>
</div>
<div class="d-flex justify-content-center mt-4">
  <button class="download-button text-center" (click)="downloadFile()">Download File</button>
</div>

<div class="m-5">
  <h1>PDF Preview</h1>
  <iframe width="100%" height="600px" [src]="pdfSrc"></iframe>
</div>
